{% extends 'base.html' %}

{% load static %}

{% block content %}

<title>Users</title>
<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Users</h1>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-5 content">
            {% for user in users %}
            {% if user not in request.user.friends.all and user != request.user %}
            <h3>{{ user }} <a href="/send_friend_request/{{user.id}}">send friend request</a></h3>
            {% endif %}
            {% endfor %}

            {% for friend_request in all_friend_request %}
            <h1>{{ friend_request.from_user }} <a href="/accept_friend_request/{{friend_request.id}}">accept friend request</a></h1>
            {% endfor %}
            
            <h1>Current friends:</h1>
            {% for friend in friends %}
            <h3><a href="/friend_profile/{{ friend.id }}">{{ friend }}</a></h3>
            {% endfor %}

            {{ fr }}
        </div>
        </div>

      </div>

    </section>

    {% endblock %}